.listItem{
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    padding: 10px;

}

.left>div, .right>div{
    display: inline;
}

.editWrapper,.checkbox{
    height: fit-content;
    width: fit-content;
}

.done{
    text-decoration: line-through;
}